# Игнорируем локальные настройки и логи
.env
__pycache__/
*.pyc
*.pyo
*.log

# Игнорируем данные для Git
.git/
.gitignore

# Исключаем файлы виртуального окружения (если есть)
venv/
.venv/

# Исключаем сервисные файлы
credentials.json
